body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            max-width: 1024px;
            padding-top: 20px;
}
h1, h2, h3 {
    color: #aaa;
}
.dark h1, .dark h2, .dark h3 {
	color: #ddd;
}
h1 { font-size: x-large; }
h2 { font-size: large; }
a {
    color: #0077cc;
   text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
	padding-left: 20px;
}

