[Desktop Entry]
Version=1.0
Type=Application
Name=RelightLab
GenericName=Image relighting
Comment=Create and view relightable images
Exec=relightlab %F
Icon=relight
Terminal=false
Categories=Graphics;3DGraphics;Viewer;Qt;
Name[en_US]=relightlab.desktop
