name: BuildRelightLab

on:
  [push, pull_request]

env:
  MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}

jobs:
  relightlab_build:
    name: Build Relight
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
          include:
            - os: 'ubuntu-22.04'
              label: 'Linux'
              qt_version: '6.6.*'

            - os: 'macos-15-intel'
              label: 'macOS_x86_64'
              qt_version: '6.8.0'

            - os: 'macos-latest'
              label: 'macOS_arm64'
              qt_version: '6.8.0'

            - os: 'windows-latest'
              label: 'Windows'
              qt_version: '6.6.*'

    steps:
    - uses: ./.github/actions/setup
      with:
        qt_version: ${{ matrix.qt_version }}

    - name: Configure and Build
      shell: bash
      run: |
        bash build_scripts/${{ runner.os }}/1_build.sh

        
    - name: Set CodeSign Certificate macOS
      if: runner.os == 'macOS' && env.MACOS_CERTIFICATE != ''
      uses: apple-actions/import-codesign-certs@v2
      with:
        p12-file-base64: ${{ secrets.MACOS_CERTIFICATE }}
        p12-password: ${{ secrets.MACOS_CERTIFICATE_PSSW }}

    - name: Deploy
      shell: bash
      run: >
        bash build_scripts/${{ runner.os }}/2_deploy.sh
        --cert_id='${{ secrets.MACOS_CERT_ID }}'
        --notarization_user='${{ secrets.MACOS_NOTARIZATION_USER }}'
        --notarization_pssw='${{ secrets.MACOS_NOTARIZATION_PSSW }}'
        --notarization_team='${{ secrets.MACOS_NOTARIZATION_TEAM_ID }}'

    - name: Upload RelightLab Portable
      uses: actions/upload-artifact@v4
      with:
        name: RelightLab_${{ matrix.label }}_portable
        path: install/
    - name: Upload RelightLab Packages
      if: runner.os != 'Windows'
      uses: actions/upload-artifact@v4
      with:
        name: RelightLab_${{ matrix.label }}_packages
        path: packages/RelightLab*
