name: CreateRelease

on:
  #[push, pull_request] #just for test release scripts
  workflow_dispatch: #manual run
    inputs:
      version:
        description: 'New Relight Version'
        required: true
        default: 'YYYY.MM'

jobs:
  update_rl_version:
    name: Update RELIGHT_VERSION
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Update Relight version
      run : |
        echo ${{ github.event.inputs.version }} | tr -d '\n'> RELIGHT_VERSION
    - name: commit RELIGHT_VERSION change
      uses: EndBug/add-and-commit@v9
      with:
        committer_name: GitHub Actions
        committer_email: actions@github.com
        message: Set Relight version to ${{ github.event.inputs.version }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  relight_build:
    needs: [update_rl_version]
    name: Build RelightLab
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
          include:
            - os: 'ubuntu-22.04'
              label: 'Linux'
            - os: 'macos-15-intel'
              label: 'macOS_x86_64'
            - os: 'macos-latest'
              label: 'macOS_arm64'
            - os: 'windows-latest'
              label: 'Windows'
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        ref: master
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
    - name: Set CodeSign Certificate macOS
      if: runner.os == 'macOS'
      uses: apple-actions/import-codesign-certs@v2
      with:
        p12-file-base64: ${{ secrets.MACOS_CERTIFICATE }}
        p12-password: ${{ secrets.MACOS_CERTIFICATE_PSSW }}

    - name: Install OpenCV on Ubuntu
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update && sudo apt-get install -y libopencv-dev
        echo "QT_VERSION=6.6.*" >> $GITHUB_ENV

    - name: Install OpenCV on macOS
      if: runner.os == 'macOS'
      run: |
        echo "QT_VERSION=6.8.0" >> $GITHUB_ENV

    - name: Install OpenCV on Windows
      if: runner.os == 'Windows'
      run: |
        choco install opencv -y
        echo "OpenCV installed at C:\tools\opencv\build"
        echo ("OpenCV_DIR=C:\tools\opencv\build\x64\vc16\lib") >> $env:GITHUB_ENV
        echo ("QT_VERSION=6.6.*") >> $env:GITHUB_ENV

    - name: Install LCMS2 via vcpkg on Windows
      if: runner.os == 'Windows'
      run: |
        git clone https://github.com/microsoft/vcpkg.git C:\vcpkg
        C:\vcpkg\bootstrap-vcpkg.bat
        C:\vcpkg\vcpkg.exe install lcms:x64-windows
        echo ("CMAKE_TOOLCHAIN_FILE=C:\vcpkg\scripts\buildsystems\vcpkg.cmake") >> $env:GITHUB_ENV

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        cache: 'true'
        version: ${{ env.QT_VERSION }}

    - name: Install dependencies
      shell: bash
      run: |
        bash build_scripts/${{ runner.os }}/0_setup_env.sh --dont_install_qt

    - name: Ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ runner.os }}-${{ github.ref }}

    - name: Configure and Build
      shell: bash
      run: |
        bash build_scripts/${{ runner.os }}/1_build.sh --ccache

    - name: Deploy
      shell: bash
      run: >
        bash build_scripts/${{ runner.os }}/2_deploy.sh
        --cert_id='${{ secrets.MACOS_CERT_ID }}'
        --notarization_user='${{ secrets.MACOS_NOTARIZATION_USER }}'
        --notarization_pssw='${{ secrets.MACOS_NOTARIZATION_PSSW }}'
        --notarization_team='${{ secrets.MACOS_NOTARIZATION_TEAM_ID }}'

    - name: Upload RelightLab Portable
      uses: actions/upload-artifact@v4
      with:
        name: RelightLab_${{ matrix.label }}_portable
        path: install/
    - name: Upload RelightLab Packages
      uses: actions/upload-artifact@v4
      with:
        name: RelightLab_${{ matrix.label }}_packages
        path: packages/RelightLab*

  #after building RelightLab for the three platforms, we create a release in github
  create_release:
    name: Create Release
    needs: [relight_build]
    runs-on: ubuntu-latest
    steps:

    #Download Linux Packages
    - name: Download Linux ZIP
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_Linux_portable
        path: relightlab_linux_portable
    - name: Download Linux AppImage
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_Linux_packages
        path: relightlab_linux_appimage
    - name: Change Permissions
      run: |
        chmod +x relightlab_linux_portable/usr/bin/relightlab
        chmod +x relightlab_linux_portable/usr/bin/relight-cli
        chmod +x relightlab_linux_portable/usr/bin/relight-merge
        chmod +x relightlab_linux_portable/usr/bin/relight-normals
        chmod +x relightlab_linux_portable/AppRun
    - name: Create RelightLab Portable Linux Archive
      run: |
        cd relightlab_linux_portable
        tar -cvzf ../RelightLab${{ github.event.inputs.version }}-linux.tar.gz *
        cd ..

    #Download MacOS x86_64 Package
    - name: Download MacOS x86_64 DMG
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_macOS_x86_64_packages
        path: relightlab_macos_x86_64_dmg
    - name: Download MacOS Portable
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_macOS_x86_64_portable
        path: relightlab_macos_x86_64_portable
    - name: Change Permissions
      run: |
        chmod +x relightlab_macos_x86_64_portable/RelightLab*.app/Contents/MacOS/relightlab
        chmod +x relightlab_macos_x86_64_portable/RelightLab*.app/Contents/MacOS/relight-cli
        chmod +x relightlab_macos_x86_64_portable/RelightLab*.app/Contents/MacOS/relight-merge
        chmod +x relightlab_macos_x86_64_portable/RelightLab*.app/Contents/MacOS/relight-normals
    - name: Create RelightLab Portable MacOS x86_64
      run: |
        cd relightlab_macos_x86_64_portable
        tar -cvzf ../RelightLab${{ github.event.inputs.version }}-macos_x86_64.tar.gz *
        cd ..

    #Download MacOS arm64 Package
    - name: Download MacOS arm64 DMG
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_macOS_arm64_packages
        path: relightlab_macos_arm64_dmg
    - name: Download MacOS Portable
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_macOS_arm64_portable
        path: relightlab_macos_arm64_portable
    - name: Change Permissions
      run: |
        chmod +x relightlab_macos_arm64_portable/RelightLab*.app/Contents/MacOS/relightlab
        chmod +x relightlab_macos_arm64_portable/RelightLab*.app/Contents/MacOS/relight-cli
        chmod +x relightlab_macos_arm64_portable/RelightLab*.app/Contents/MacOS/relight-merge
        chmod +x relightlab_macos_arm64_portable/RelightLab*.app/Contents/MacOS/relight-normals
    - name: Create RelightLab Portable MacOS arm64
      run: |
        cd relightlab_macos_arm64_portable
        tar -cvzf ../RelightLab${{ github.event.inputs.version }}-macos_arm64.tar.gz *
        cd ..

    #Download Windows Packages
    - name: Download Windows ZIP
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_Windows_portable
        path: relightlab_windows_portable
#    - name: Download Windows Installer
#      uses: actions/download-artifact@v4
#      with:
#        name: RelightLab_Windows_packages
#        path: relightlab_windows_installer
    - name: Create RelightLab Portable Windows Archive
      run: |
        cd relightlab_windows_portable
        zip -r ../RelightLab${{ github.event.inputs.version }}-windows.zip *
        cd ..

    #Create release and upload
    - uses: "ncipollo/release-action@v1"
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"
        tag: "RelightLab-${{ github.event.inputs.version }}"
        name: "RelightLab-${{ github.event.inputs.version }}"
        draft: true
        artifacts: |
          RelightLab${{ github.event.inputs.version }}-linux.tar.gz
          relightlab_linux_appimage/RelightLab${{ github.event.inputs.version }}-linux.AppImage
          RelightLab${{ github.event.inputs.version }}-macos_x86_64.tar.gz
          relightlab_macos_dmg/RelightLab${{ github.event.inputs.version }}-macos_x86_64.dmg
          RelightLab${{ github.event.inputs.version }}-macos_arm64.tar.gz
          relightlab_macos_dmg/RelightLab${{ github.event.inputs.version }}-macos_arm64.dmg
          RelightLab${{ github.event.inputs.version }}-windows.zip
#          relightlab_windows_installer/RelightLab${{ github.event.inputs.version }}-windows.exe
