name: CreateRelease

on:
  #[push, pull_request] #just for test release scripts
  workflow_dispatch: #manual run
    inputs:
      version:
        description: 'New Relight Version'
        required: true
        default: 'YYYY.MM'

env:
  MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}

jobs:
  update_rl_version:
    name: Update RELIGHT_VERSION
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Update Relight version
      run: |
        echo ${{ github.event.inputs.version }} | tr -d '\n'> RELIGHT_VERSION
    - name: commit RELIGHT_VERSION change
      uses: EndBug/add-and-commit@v9
      with:
        committer_name: GitHub Actions
        committer_email: actions@github.com
        message: Set Relight version to ${{ github.event.inputs.version }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  relight_build:
    needs: [update_rl_version]
    name: Build RelightLab
    runs-on: ${{ matrix.os }}
    env:
      INSTALL_PATH: ${{ runner.os == 'Linux' && 'install/usr' || 'install' }}
    strategy:
      matrix:
          include:
            - os: 'ubuntu-22.04'
              label: 'Linux'
              qt_version: '6.6.*'
            - os: 'macos-15-intel'
              label: 'macOS_x86_64'
              qt_version: '6.8.0'
            - os: 'macos-latest'
              label: 'macOS_arm64'
              qt_version: '6.8.0'
            - os: 'windows-latest'
              label: 'Windows'
              qt_version: '6.6.*'
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        ref: master

    - uses: ./.github/actions/setup
      with:
        qt_version: ${{ matrix.qt_version }}

    - uses: ./.github/actions/build

    - name: Set CodeSign Certificate macOS
      if: runner.os == 'macOS' && env.MACOS_CERTIFICATE != ''
      uses: apple-actions/import-codesign-certs@v2
      with:
        p12-file-base64: ${{ secrets.MACOS_CERTIFICATE }}
        p12-password: ${{ secrets.MACOS_CERTIFICATE_PSSW }}

    - name: Deploy
      shell: bash
      run: >
        bash build_scripts/${{ runner.os }}/2_deploy.sh
        --cert_id='${{ secrets.MACOS_CERT_ID }}'
        --notarization_user='${{ secrets.MACOS_NOTARIZATION_USER }}'
        --notarization_pssw='${{ secrets.MACOS_NOTARIZATION_PSSW }}'
        --notarization_team='${{ secrets.MACOS_NOTARIZATION_TEAM_ID }}'

    - name: Upload RelightLab Portable
      uses: actions/upload-artifact@v4
      with:
        name: RelightLab_${{ matrix.label }}_portable
        path: install/
    - name: Upload RelightLab Packages
      if: runner.os != 'Windows'
      uses: actions/upload-artifact@v4
      with:
        name: RelightLab_${{ matrix.label }}_packages
        path: packages/RelightLab*

  #after building RelightLab for the three platforms, we create a release in github
  create_release:
    name: Create Release
    needs: [relight_build]
    runs-on: ubuntu-latest
    steps:

    #Download Linux Packages
    - name: Download Linux ZIP
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_Linux_portable
        path: relightlab_linux_portable
    - name: Download Linux AppImage
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_Linux_packages
        path: relightlab_linux_appimage
    - name: Change Permissions
      run: |
        chmod +x relightlab_linux_portable/usr/bin/relightlab
        chmod +x relightlab_linux_portable/usr/bin/relight-cli
        chmod +x relightlab_linux_portable/usr/bin/relight-merge
        chmod +x relightlab_linux_portable/usr/bin/relight-normals
        chmod +x relightlab_linux_portable/usr/bin/relight-deepzoom
        chmod +x relightlab_linux_portable/AppRun
    - name: Create RelightLab Portable Linux Archive
      run: |
        cd relightlab_linux_portable
        tar -cvzf ../RelightLab${{ github.event.inputs.version }}-linux.tar.gz *
        cd ..

    #Download MacOS x86_64 Package
    - name: Download MacOS x86_64 DMG
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_macOS_x86_64_packages
        path: relightlab_macos_x86_64_dmg
    - name: Download MacOS Portable
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_macOS_x86_64_portable
        path: relightlab_macos_x86_64_portable
    - name: Change Permissions
      run: |
        chmod +x relightlab_macos_x86_64_portable/RelightLab*.app/Contents/MacOS/relightlab
        chmod +x relightlab_macos_x86_64_portable/RelightLab*.app/Contents/MacOS/relight-cli
        chmod +x relightlab_macos_x86_64_portable/RelightLab*.app/Contents/MacOS/relight-merge
        chmod +x relightlab_macos_x86_64_portable/RelightLab*.app/Contents/MacOS/relight-normals
        chmod +x relightlab_macos_x86_64_portable/RelightLab*.app/Contents/MacOS/relight-deepzoom
    - name: Create RelightLab Portable MacOS x86_64
      run: |
        cd relightlab_macos_x86_64_portable
        tar -cvzf ../RelightLab${{ github.event.inputs.version }}-macos_x86_64.tar.gz *
        cd ..

    #Download MacOS arm64 Package
    - name: Download MacOS arm64 DMG
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_macOS_arm64_packages
        path: relightlab_macos_arm64_dmg
    - name: Download MacOS Portable
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_macOS_arm64_portable
        path: relightlab_macos_arm64_portable
    - name: Change Permissions
      run: |
        chmod +x relightlab_macos_arm64_portable/RelightLab*.app/Contents/MacOS/relightlab
        chmod +x relightlab_macos_arm64_portable/RelightLab*.app/Contents/MacOS/relight-cli
        chmod +x relightlab_macos_arm64_portable/RelightLab*.app/Contents/MacOS/relight-merge
        chmod +x relightlab_macos_arm64_portable/RelightLab*.app/Contents/MacOS/relight-normals
        chmod +x relightlab_macos_arm64_portable/RelightLab*.app/Contents/MacOS/relight-deepzoom
    - name: Create RelightLab Portable MacOS arm64
      run: |
        cd relightlab_macos_arm64_portable
        tar -cvzf ../RelightLab${{ github.event.inputs.version }}-macos_arm64.tar.gz *
        cd ..

    #Download Windows Packages
    - name: Download Windows ZIP
      uses: actions/download-artifact@v4
      with:
        name: RelightLab_Windows_portable
        path: relightlab_windows_portable
#    - name: Download Windows Installer
#      uses: actions/download-artifact@v4
#      with:
#        name: RelightLab_Windows_packages
#        path: relightlab_windows_installer
    - name: Create RelightLab Portable Windows Archive
      run: |
        cd relightlab_windows_portable
        zip -r ../RelightLab${{ github.event.inputs.version }}-windows.zip *
        cd ..

    #Create release and upload
    - uses: "ncipollo/release-action@v1"
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"
        tag: "RelightLab-${{ github.event.inputs.version }}"
        name: "RelightLab-${{ github.event.inputs.version }}"
        draft: true
        artifacts: |
          RelightLab${{ github.event.inputs.version }}-linux.tar.gz
          relightlab_linux_appimage/RelightLab${{ github.event.inputs.version }}-linux.AppImage
          RelightLab${{ github.event.inputs.version }}-macos_x86_64.tar.gz
          relightlab_macos_dmg/RelightLab${{ github.event.inputs.version }}-macos_x86_64.dmg
          RelightLab${{ github.event.inputs.version }}-macos_arm64.tar.gz
          relightlab_macos_dmg/RelightLab${{ github.event.inputs.version }}-macos_arm64.dmg
          RelightLab${{ github.event.inputs.version }}-windows.zip
#          relightlab_windows_installer/RelightLab${{ github.event.inputs.version }}-windows.exe
